MYSQL_ROOT_PASSWORD=1
MYSQL_DATABASE=etl_db
JUPYTER_TOKEN=""

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=etl_db
MYSQL_USER=root
MYSQL_PASSWORD=1

CASSANDRA_HOST=cassandra
CASSANDRA_KEYSPACE=recruitment
CASSANDRA_TABLE=tracking

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=tracking_data

# Paths
MYSQL_JAR=/home/jovyan/work/jars/mysql-connector-j-8.3.0.jar
CASSANDRA_JAR=/home/jovyan/work/jars/spark-cassandra-connector-assembly_2.12-3.5.0.jar