# Python
__pycache__/
*.py[cod]
*$py.class

# Airflow
airflow/logs/
airflow/airflow-webserver.pid
airflow/unittests.cfg

# Environment
.env
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Project specific
jars/
data/
